@page
@model CodeInBlue.Pages.UserModel
@{
}

<h2 class="text-center">Welcome to your account</h2>
<div>
    Full Name: @Model.appUser?.LastName @Model.appUser?.FirstName
</div>
<div>
    Email: @Model.appUser?.Email
</div>
<div>
    Phone Number: @Model.appUser?.PhoneNumber
</div>
<div>
    Address: @Model.appUser?.Address
</div>
<div>
    Created: @Model.appUser?.CreatedAt.ToString("dd/MM/yyyy")
</div>
